nav {
  display: flex;
  justify-content: space-between;
  background-color: #0a0a0a;
  color: white;
  /* position: fixed; */
  margin-top: 0px;
  font-family: "Josefin Sans", sans-serif !important;
}

#home-btn {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 5px;
}

#home-btn a:link {
  color: white;
  text-decoration: none;
}

#home-btn a:active {
  color: white;
  text-decoration: none;
}

#home-btn a:visited {
  color: white;
  text-decoration: none;
}

#home-btn a:hover {
  text-decoration: none;
  transition: 0.4s;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  /* padding: 0 15px; */
  /* letter-spacing: 5px; */
}

.nav-links a:link {
  color: white;
  list-style: none;
  text-decoration: none;
}

.nav-links a:active {
  color: white;
  text-decoration: none;
}

.nav-links a:visited {
  color: white;
  text-decoration: none;
}

.nav-links li:hover {
  text-decoration: none;
  transition: 0.4s;
}

#icon {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.fa-xmark {
  padding-top: 15px;
  padding-right: 10px;
  display: none;
}

@media only screen and (max-width: 600px) {
  #icon {
    display: flex;
  }
  nav {
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
  }

  .nav-links {
    width: 100%;
    display: none;
  }

  /* .expanded {
    flex-direction: column !important;
    overflow: hidden;
    display: flex !important;
    align-items: flex-start;
    overflow: hidden;

    width: 100%;
    padding-left: 35%;
  } */

  /* .expanded li {
    list-style: none;
    text-decoration: none;
    color: white;
    align-items: center;
    width: 100px;
    transition: 0.7s;
  }

  .expanded ul {
    text-decoration: none;
    line-height: 25px;
  }

  .expanded a:link {
    text-decoration: none;
  } */

  .nav-links li {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .fa-xmark {
    display: block;
  }

  nav ul {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: 0;
    width: 120px;
    height: 100vh;
    background-color: #005b7f;
    z-index: 2;
    padding-top: 50px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
  }

  nav ul .fa-xmark {
    position: absolute;
    top: 5px;
    left: 45px;
    cursor: pointer;
  }
}
